[Desktop Entry]
Type=Application
Exec=tilix --quake
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=Tilix
Comment[en_GB]=Start Tilix in quake mode
X-GNOME-Autostart-Delay=2
